<div class="modal fade" id="notemodal" tabindex="-1" aria-labelledby="noteLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="noteLabel">Add notes</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">

					{{ form_start(form, {'action': path('add_notes'), 'method': 'POST'}) }}

					<div class="input-group mb-3 align-items-center">
						{{ form_widget(form.title) }}
						{{ form_widget(form.description) }}

						<input type="hidden" name="todoid" id="todoid">

						<button type="submit" class="btn btn-primary" id="addNotes">
							<i class="fa fa-add"></i>
						</button>
					</div>
					{{ form_end(form) }}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>